streamlit
pandas
numpy
plotly
altair
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
tenacity
python-dateutil
streamlit-user-agent
streamlit-option-menu
streamlit-extras
Pillow
streamlit-extras
